<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login || BandingBot</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <main>
        <div class="row">
            <div class="colm-logo">
                <img src="img/bandingbot-logo.png" alt="Logo">
                <h3>A handy little web scraper to help you compare product costs.</h3>
            </div>
            <div class="colm-form">
                <div class="form-container">
                    <form action="/login" method="post">
                        <input type="text" name="email" placeholder="Email address">
                        <input type="password" name="password" placeholder="Password">
                        <button type="submit" class="btn-login">Login</button>
                    </form>
                </div>
                <p><b>Get informative data</b> from numerous e-commerce!</p>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-contents">
            <small>Zacharia Bachtiar &copy; 2022</small>
        </div>
    </footer>


    <script src="/reload/reload.js"></script>
</body>
</html>