<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | BandingBot</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <main>
        <div class="row">
            <div class="colm-form">
                <div class="form-container">
                    <form action="/register" method="post">
                        <h3 style="padding-bottom: 2rem;">Register a new account here!</h3>
                        <input required type="text" name="fName" placeholder="First Name">
                        <input required type="text" name="lName" placeholder="Last Name">
                        <input required type="text" name="dOb" placeholder="Date Of Birth : dd/mm/yyyy"
                                           onfocus="(this.type='date')">
                        <input required type="text" name="email" placeholder="Email address">
                        <input required type="password" name="password" placeholder="Password">
                        <button type="submit" class="btn-login">Register</button>
                        <a style="color: #678d50;" href="/login">Already has an account?</a>
                    </form>
                </div>
                <p><b>Get informative data</b> from numerous e-commerce!</p>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-contents">
            <small>Zacharia Bachtiar &copy; 2022</small>
        </div>
    </footer>


    <script src="/reload/reload.js"></script>
</body>
</html>